.user-profile
  border: 3px solid red
  width: 80%
  margin: 0px 20px

  .user-profile-title
    display: flex
    justify-content: space-between

#user-form
  border: 3px solid blue
  margin: 10px
  padding: 10px 5px
  width: 90%

// fix Edit button
// custom form