.user-profile
  width: 70%
  margin: 0px 20px

  .user-profile-title
    margin-bottom: 6px

#user-form
  margin: 10px
  padding: 10px 0px
  width: 35vw

fieldset
  margin: 0px
  padding: 10px 0px
  border-radius: 5px

label
  font-size: 12px

input
  width: 70%
  border: none
  border: solid 1px #ccc
  border-radius: 5px

input:invalid
  border: 2px solid #D91313

.field-margin
  margin: 5px 10px

.edit-button
  width: 22%
  padding: 5px
  align-self: center
  font-size: 16px
  border: none
  border-radius: 5px
  background: #4B51EF
  color: #fff

.edit-button:hover
  background: #080ff0

.send-button-lock
  width: 22%
  padding: 5px
  margin-top: 5px
  align-self: center
  font-size: 16px
  border: none
  border-radius: 5px
  background: #716F81
  color: #fff
  cursor: not-allowed

.send-button-unlock
  width: 22%
  padding: 5px
  margin-top: 5px
  align-self: center
  font-size: 16px
  border: none
  border-radius: 5px
  background: #52CF4F
  color: #fff
  cursor: pointer

textarea
  width: 90%
  resize: none
  border: none
  border: solid 1px #ccc
  border-radius: 5px

.button-flex-control-panel
  display: flex
  justify-content: space-between

.button-flex-control-panel .link
  margin: 5px 0px

@media (width < 800px)
  .edit-button
    width: 70%

  #user-form
    width: 55vw
    margin: 5px

  .send-button-lock
    width: 40%
  
  .send-button-unlock
    width: 40%

  input
    width: 80%

  textarea
    width: 80%