body
  width: 100vw
  height: 100vh
  margin: 0
  font-family: "Gill Sans", sans-serif

.grid-container
  display: grid
  grid-template-columns: 15% 1fr
  height: 100vh

.margin-left-10
  margin-left: 10px


.link
  width: 50px
  color: #4B51EF
  margin: 0px 5px 5px 15px
  text-decoration: none

.btn
  font-size: 16px
  border: none
  border-radius: 5px
  background: #4B51EF
  color: #fff

.btn:hover
  background: #080ff0

.side-bar > .btn
  margin: 5px 10%
  padding: 5px
  width: 60%

.user-list-title
  margin-bottom: 10px
  margin-top: 19px
  font-size: 17px
// @media display < 540 =>  .grid-container: grid-template-columns: 30% 1fr
