body
  width: 100vw
  height: 100vh
  margin: 0
  font-family: "Gill Sans", sans-serif


.grid-container
  display: grid
  grid-template-columns: 20% 1fr
  height: 100vh

.margin-left-10
  margin-left: 10px

.user-card > p
  margin: 5px 0px 0px 15px
  font-size: 17px

.link
  width: 50px
  color: #B97A95
  margin: 0px 5px 5px 0px
  text-decoration: none

.users-list .link
  align-self: flex-end

.btn
  align-items: center
  background: #B97A95
  color: #fff
  width: 70%
  font-size: 16px
  padding: 5px
  border: none
  border-radius: 5px
  margin: 5px 10%

.btn:active
  background: #e9abc6

// @media display < 540 =>  .grid-container: grid-template-columns: 30% 1fr
